.main1 {
  color: #222831;
}

.main2 {
  color: #393E46;
}

.main3 {
  color: #00ADB5;
}

.main4 {
  background-color: #EEEEEE;
}

.turquoise {
  color: darkturquoise;
}

.non-turquoise {
  color: black;
}